.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: aliceblue;
    padding: 15px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    max-width: 900px;
    margin: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 20px;
    
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover {
    transform: scale(1.1);
}

nav ul li a.active {
    color: rgb(44, 32, 145);
    font-weight: bold;
}

header h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 100px;
}

html, body {
    height: 100%;
    margin: 0;
    flex-direction: column;
}

.wrapper {
    min-height: 100vh;
    display:flex;
}

.main-content {
    flex: 1;
}

body {
    background-color: black;
    color: aliceblue;
}

.card {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    margin-top: 30px;
    float: left;
}

.card-content {
    flex: 1;
    margin-right: 15px;
    color: black;
    max-width: 900px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.card-form {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    float: right;
}

input, textarea {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(44, 32, 145);
    border-radius: 5px;
}

button {
    background-color: rgb(44, 32, 145);
    color: rgb(255, 255, 255);
    padding: 10px;
    max-width: 80px;
    border: 0cqi;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(23, 16, 88);
}

.box1 {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    flex: 1;
    float: right;
    margin-top: 30px;
    color: black;
    width: 300px;
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clique {
    color: black;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    margin-top: 25px;
}

.clique:hover {
    color: rgb(255, 0, 0);
}

.box2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 93%;
    clear: both;


}

footer {
    background-color: aliceblue;
    color: black;
    text-align: center;
    padding: 20px 0;
    width: 1100px;
    position: fixed;
    bottom: 0;
    left: 0;
    transform: translate(36%);

}

.footer-container {
    max-width: 1057px;
    margin: 0 auto;
    padding: 0 20px;
    left: 1;
    bottom: 0;
    border-radius: 10px;
}

.content-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}